<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <video class="embed-responsive-item video-fluid" autoplay loop muted>
          <source src="../../../assets/video/1.mp4" type="video/mp4" />
        </video>
        <div class="card-body">
          <h5 class="card-title">Artesanias de mi tierra</h5>
          <p class="card-text">
            Artesanías de mi tierra es una página web dedicada a mostrar lo
            mejor de nuestra cultura plasmada en los asombrosos elementos
            fabricados a mano, donde cada artesano podrá exhibir y vender sus
            creaciones. La página cuenta con registro tanto de clientes como de
            artesanos, carrito de compras, pagina contacto y galería.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          Pronto más contenido
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Actualmente me encuentro trabajando en otros proyectos que pronto estaran aquí.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
