<div class="barra col-md-12">
  <p>&copy; 2022 - Jeisson Estevens Araque Ramirez</p>
  <a href="https://github.com/jearx85" target="_blank">  
  <img class="img1"
      src="../../../assets/img/github.png"
      alt="github.png"
      height="30"
      width="30"
    />
    </a>
    <a href="https://www.linkedin.com/in/jeisson-araque-0b01948a" target="_blank">
    <img class="img2" 
      src="../../../assets/img/linkedin.png"
      alt="linkedin.png"
      height="30"
      width="30"
    />
    </a>
</div>
