<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="display-4">Hola mundo!</h1>
        <p class="lead">
          Soy Jeisson Araque, tecnólogo en
          desarrollo de software de la IU digital de Antioquia, apasionado por
          el mundo de la tecnología y con conocimientos en Java, Python, HTML,
          CSS, Javascript, SQL y en tecnologías como Git, GitHub.
        </p>
        <hr class="my-4" />
        <h3>Proyectos</h3>
        <p>Conoce algunos de los proyectos en los que he trabajado.</p>
        <a class="btn" routerLink="/proyectos" role="button"> Visitar</a>
      </div>
      <hr class="my-4" />
      <h3>Contacto</h3>
      <div class="card text-center">
        <div class="card-header">Email</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <p class="card-text">
                <img
                  src="../../../assets/img/email.png"
                  alt="email.png"
                  height="100"
                  width="100"
                />
              </p>

              <p>jearx@hotmail.com</p>
            </div>
            <div class="col-md-8">
              <h5 class="card-title">Escribeme</h5>
              <p class="card-text">
                Puedes escribirme un correo y solicitar más información, con
                gusto te responderé.
              </p>
              <img
                src="../../../assets/img/avatar.png"
                alt="avatar.png"
                height="150"
                width="150"
              />
              <a href="mailto:jearx@hotmail.com" class="btn btn-primary"
                >Enviar correo</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
